<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Doctors</title>
  <link rel="stylesheet" href="/css/appointment-booking.css">
  <link rel="stylesheet" href="/css/edit.css">
  <link rel="stylesheet" href="/css/cards.css">
</head>
<body>
<h2>Doctors</h2>

<div th:each="doctor : ${doctorsPageProjection}" class="card">
  <div class="card-header">
    <h3 th:text="'Dr. ' + ${doctor.lastName}">Dr. Smith</h3>
    <button class="add-btn" type="button" th:onclick="|toggleForm(${vet.id})|">Book</button>
  </div>
  <p th:text="${doctor.specialization}">Veterinary Surgeon</p>

    <form th:action="@{/appointments}" method="post"
          th:id="'form-' + ${doctor.id}" style="display: none; margin-top: 10px;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div id="editForm">
      <input type="hidden" name="doctorId" th:value="${doctor.id}" />

      <label>Pet Name</label>
      <select name="petId" required>
        <option disabled selected>Pet Name</option>
        <option th:each="pet : ${pets}" th:value="${pet.id}" th:text="${pet.name}">Buddy</option>
      </select>

      <label>Reason</label>
      <input type="text" id="reason" name="reason" placeholder="Reason for visit" required />
      <p class="reason-error" style="color: red; display: none;">Write reason</p>

      <label>Available Slots</label>
      <label th:each="slot : ${doctor.availableSlots}"
             th:class="'slot-btn ' + (${slot.booked} ? 'booked' : '')">
        <input type="radio" name="slotId" th:value="${slot.id}" th:disabled="${slot.booked}" required style="display:none;" />
        <span th:text="${#temporals.format(slot.dateTime, 'dd.MM.yyyy HH:mm')}"></span>
      </label>

      <input type="hidden" name="slotId" class="slot-input" />
      <div class="form-actions">
        <button class="save-btn" type="submit">Confirm</button>
        <button class="cancel-btn" type="button" onclick="cancelAppointment(this)">Cancel</button>
      </div>
    </div>
  </form>
</div>

<a href="/appointments" class="cancel-btn">Back</a>

<script src="/js/appointment-booking.js"></script>
<script src="/js/validation.js"></script>
</body>
</html>
