<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Doctors</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/appointment-booking.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/cards.css">
</head>
<body>
<nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/appointments">Appointments</a>
    <div class="nav-item active">Booking</div>
    <a href="/pets">Pets</a>
    <form action="/logout" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="logout">Logout</button>
    </form>
</nav>
<h2>Doctors</h2>

<div th:each="doctor : ${doctorDTOs}" class="card">
    <div class="card-header">
        <h3 th:text="'Dr. ' + ${doctor.lastName}">Dr. Smith</h3>
        <button class="add-btn" type="button"
                th:onclick="${pets.isEmpty()} ? 'alert(\'You need to add a pet first!\')' : 'toggleForm(' + ${doctor.id} + ')'">
            Book
        </button>
    </div>
    <p th:text="${doctor.specialization}">Veterinary Surgeon</p>
    <form th:if="${!pets.isEmpty()}"
          th:action="@{/appointments}"
          method="post"
          th:id="'form-' + ${doctor.id}"
          class="editFormContainer">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div id="editForm">
            <input type="hidden" name="doctorId" th:value="${doctor.id}" />
            <label>Pet Name</label>
            <select name="petId" required>
                <option th:each="pet : ${pets}"
                        th:value="${pet.id}"
                        th:text="${pet.name}">
                </option>
            </select>
            <label>Reason</label>
            <input type="text" name="reason" placeholder="Reason for visit" required />
            <label>Available Slots</label>
            <div class="slots">
                <label th:each="slot : ${doctor.availableSlots}"
                       th:class="'slot-btn ' + (${slot.booked} ? 'booked' : '')">
                    <input type="radio"
                           name="slotId"
                           th:value="${slot.id}"
                           th:disabled="${slot.booked}"
                           required />
                    <span
                            th:text="${#temporals.format(slot.dateTime, 'dd MMM yyyy HH:mm', T(java.util.Locale).ENGLISH)}">
                    </span>
                </label>
            </div>
            <div class="form-actions">
                <button class="save-btn" type="submit">Confirm</button>
                <button class="cancel-btn" type="button" onclick="cancelAppointment(this)">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script src="/js/appointment-booking.js"></script>
</body>
</html>
