<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Appointments</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/records.css">
</head>
<body>
<nav>
    <a href="/dashboard">Dashboard</a>
    <div class="nav-item active">Appointments</div>
    <a href="/pets">Pets</a>
    <a href="/doctor-slots" sec:authorize="hasRole('ROLE_DOCTOR')">Slots</a>
    <form action="/logout" method="post">
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="logout">Logout</button>
    </form>
</nav>
<h1>Appointments</h1>
<div style="text-align: right;" sec:authorize="hasRole('PET_OWNER')">
  <a href="/appointments/available-doctors" class="add-btn add-button">+ Add Appointment</a>
</div>
<div th:each="appointment : ${appointmentsPageProjections}" class="card card-header">
    <div class="record-card">
        <strong>Name:</strong>
        <p th:text="${appointment.petName}"></p>
            <div class="record-row">
                <strong sec:authorize="hasRole('PET_OWNER')">Doctor:</strong>
                <strong sec:authorize="hasRole('DOCTOR')">Pet owner:</strong>
                <p th:text="${appointment.otherPartyName}"></p>
                <strong>Date:</strong>
                <p th:text="${#temporals.format(appointment.slotDateTime, 'dd MMM yyyy HH:mm',
                        T(java.util.Locale).ENGLISH)}">
                </p>
                <strong>Reason:</strong>
                <p th:text="${appointment.reason}"></p>
            </div>
    </div>
    <form th:action="@{/appointments/{id}(id=${appointment.id})}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
      <button class="cancel-btn" sec:authorize="hasRole('PET_OWNER')">Cancel</button>
    </form>
</div>
</body>
</html>
