<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/common-frames.css">
</head>
<body class="full-height-page">
<div class="form-container">
    <h2>Dashboard</h2>
    <a href="/appointments" class="btn blue-button">Appointments</a>
    <a href="/pets" class="btn blue-button">Pets</a>
    <a href="/doctor-slots" class="btn blue-button" sec:authorize="hasRole('DOCTOR')">Slots</a>
    <form action="/logout" method="post">
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="btn red-button" style="width: 103.4%;">Logout</button>
    </form>
</div>
</body>
</html>
