<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/common/common.css">
    <link rel="stylesheet" href="/common/common-frames.css">
</head>
<body class="full-height-page">
<div class="form-container">
    <h2>Dashboard</h2>

    <a href="/appointments" class="btn blue-button">Appointments</a>
    <a href="/pets" class="btn blue-button">Pets</a>
    <a href="/records" class="btn blue-button">Medical Records</a>
    <a href="/logout" class="btn red-button">Logout</a>
</div>
</body>
</html>
