<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href= "/common/common.css" />
    <link rel="stylesheet" href="/common/common-frames.css">
</head>
<body class="full-height-page">
<div class="form-container">
    <h2>Login</h2>
    <form id="registerForm" method="post" action="/register" th:object="${owner}" novalidate>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>
        <p class="error-message" th:field="*{email}" id="emailError">Please enter a valid email address.</p>
        <p class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" id="password" name="password" required minlength="6" />
        </div>
        <p class="error-message" id="passwordError">Password must be at least 6 characters long.</p>
        <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <button type="submit">Login</button>
    </form>

    <p class="redirect"> Don't have an account? <a href="/register">Register</a> </p>
</div>
<script src="/register/register.js"></script>
<script src="/validation/validation.js"></script>
</body>
</html>
