<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/common_css/reg-or-log.css" />
</head>
<body>
<div class="container">
    <h1>VetCare</h1>
    <form id="loginForm" method="get" action="/login">
        <label for="email">Email</label>
        <input type="email" id="email" required />
        <label for="password">Password</label>
        <input type="password" id="password" required />
        <button type="submit">Login</button>
        <p class="error-message" th:if="${loginError}" th:text="${loginError}"></p>
    </form>
    <p class="link"> Don't have an account? <a href="/register">Register</a> </p>
</div>
</body>
</html>
