<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Pet Records</title>
  <link rel="stylesheet" href="/common/nav.css">
  <link rel="stylesheet" href="/common/cards.css">
  <link rel="stylesheet" href="/records/records.css">
</head>
<body>
<div class="records-container">
  <h2 th:if="${petName != null}">Medical records of pet : <span th:text="${petName}"></span></h2>
  <h2 th:if="${petName == null}">Medical records of all pets</h2>

  <div th:each="record : ${medicalRecords}" class="card">
    <div class="record-card">
      <div class="record-row" th:if="${petName == null}">
        <p class="label">Pet Name:</p>
        <p class="value" th:text="${record.pet.name}"></p>
      </div>
      <div class="record-row">
        <p class="label">Doctor:</p>
        <p class="value" th:text="'Dr. ' + ${record.veterinarian.lastName}"></p>

        <p class="label right-label">Date:</p>
        <p class="value" th:text="${record.date}"></p>
      </div>
      <div class="record-row full-width">
        <p class="label">Diagnosis:</p>
        <p class="value" th:text="${record.diagnosis}"></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
