<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Pets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/records.css">
    <link rel="stylesheet" href="/css/pets.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/cards.css">
</head>
<body>
<nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/appointments">Appointments</a>
    <div class="nav-item active">Pets</div>
    <a href="/doctor-slots" sec:authorize="hasRole('ROLE_DOCTOR')">Slots</a>
    <form action="/logout" method="post">
        <input type="hidden" th:if="${_csrf != null}"
               th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="logout">Logout</button>
    </form>
</nav>
<div id="petList">
    <h2>
        <span sec:authorize="hasRole('PET_OWNER')">My </span>Pets
    </h2>
    <div th:each="pet : ${pets}" class="card" th:attr="data-pet-id=${pet.id}">
        <div class="card-header">
            <strong>Name:</strong> <span class="name-span" th:text="${pet.name}"></span><br>
            <form th:action="@{/pets/medical-records/{id}(id=${pet.id})}" style="display:inline;">
                <button type="submit" class="add-btn">Medical Records</button>
            </form>
        </div>
        <div class="record-card">
            <div class="record-row">
                <strong>Species:</strong>
                <span class="species-span" th:text="${pet.species}"></span>
                <strong>Gender:</strong>
                <span class="gender-span" th:text="${pet.gender}"></span>
                <strong>Age:</strong>
                <span class="age-span" th:text="${pet.age}"></span>
                <p class="label">Birth Date:</p>
                <span class="birthDate-span" th:text="${#temporals.format(pet.birthDate, 'dd MMM yyyy', T(java.util.Locale).ENGLISH)}"></span>
            </div>
        </div>
        <div class="pet-actions" sec:authorize="hasRole('PET_OWNER')">
            <button type="button" class="edit-btn" onclick="showEditForm(this)">Edit</button>
            <form th:action="@{/pets/{id}(id=${pet.id})}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" class="edit-btn">Delete</button>
            </form>
        </div>
    </div>
    <button class="add-btn add-button" type="button" onclick="showAddForm()" sec:authorize="hasRole('PET_OWNER')">
        Add Pet
    </button>
</div>
<div id="editFormContainer" class="editFormContainer" sec:authorize="hasRole('PET_OWNER')">
    <form id="editForm" th:action="@{/pets}" method="post">
        <label>Name</label>
        <input type="text" id="edit-name" name="name" required minlength="2" pattern="^[A-Za-z\s\-]+$"/>
        <p id="name-error" style="color: red; display: none;">Invalid name format</p>
        <label>Species</label>
        <select name="species" id="edit-species" required>
            <option th:each="species : ${speciesList}" th:value="${species}" th:text="${species}"></option>
        </select>
        <label>Gender</label>
        <select name="gender" id="edit-gender" required>
            <option th:each="gender : ${genderList}" th:value="${gender}" th:text="${gender}"></option>
        </select>
        <label>Date of Birth</label>
        <input type="hidden" id="edit-birthDate" name="birthDate" required />
        <div class="form-actions">
            <button type="submit" class="save-btn">Apply</button>
            <button type="button" class="cancel-btn" onclick="cancelEdit()">Cancel</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/pets.js"></script>
</body>
</html>
