<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href= "/common_css/reg-or-log.css" />
</head>
<body>
<div class="container">
    <h1>Register</h1>
    <form id="registerForm" method="post" action="/register" th:object="${owner}" novalidate>
        <label for="firstName">First Name</label>
        <input type="text"
               th:field="*{firstName}"
               id="firstName"
               name="firstName"
               required minlength="2"
               pattern="^[A-Za-z\s\-]+$"
        />
        <p class="error-message" id="firstNameError">Name must contain only letters, spaces, or hyphens.</p>
        <p class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

        <label for="lastName">Last Name</label>
        <input type="text"
               th:field="*{lastName}"
               id="lastName"
               name="lastName"
               required minlength="2"
               pattern="^[A-Za-z\s\-]+$"
        />
        <p class="error-message" id="lastNameError">Name must contain only letters, spaces, or hyphens.</p>
        <p class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
        <p class="error-message" th:field="*{email}" id="emailError">Please enter a valid email address.</p>
        <p class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <label for="password">Password</label>
        <input type="password" th:field="*{password}" id="password" name="password" required minlength="6" />
        <p class="error-message" id="passwordError">Password must be at least 6 characters long.</p>
        <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <button type="submit">Register</button>
    </form>

    <p class="link"> Already have an account? <a href="/login">Login</a> </p>
</div>
<script src="/register/register.js"></script>
<script src="/common_js/validation.js"></script>
</body>
</html>
